<div class="container">
    <div class="row">
        <div class="m-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <br>
            <h3>CENTRO PSICOLOGICO VITALMENTE</h3> <br>
            <h5><b>Teléfono: 618 714 469</b></h5>
            <p class="lead">
                Si lo desea, puede ponerse en contacto por teléfono o rellenando nuestro formulario de contacto para solicitar cita previa o recibir información.
            </p>
            
              <br>
        </div>
        <div class="text-center m-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="../../../assets/img/centro2.jpg" class="img-fluid" alt="">
            <br><br>
        </div>   
    </div>
</div>
