<div class="container">
    <div class="row">
        <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
        style="background-image: url('../../../assets/img/background.PNG');"
>
  <h1 class="lead display-1">Servicios</h1>

</div>

        <h3 class="text-center display-6"></h3>
        <br>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon.PNG" alt="" class="img-fluid">
            <h5><b>Terapias de neuroestimulación</b></h5>
            <p class="lead">
                Dirigidas a revertir o frenar el proceso de deterioro cognitivo que conllevan las enfermedades neurológicas adquiridas o degenerativas.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon1.PNG" alt="" class="img-fluid">
            <h5><b>Psicoterapia de adultos e infanto adolescentes</b></h5>
            <p class="lead">
                Dirigida a alcanzar el bienestar psicológico (Ansiedad, depresión, TOC, fobias…)
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon2.PNG" alt="" class="img-fluid">
            <h5><b>Psicoterapia de pareja</b></h5>
            <p class="lead">
                Dirigida a ayudar a las personas involucradas en una relación a comprenderla, resolver conflictos y mejorar la satisfacción.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon3.PNG" alt="" class="img-fluid">
            <h5><b>Ayuda síndrome de ``Burn Out``
                o síndrome del cuidador</b></h5>
            <p class="lead">
                Tratamiento del trastorno psicológico que afecta a muchos trabajadores que viven en un estado de estrés y ansiedad permanente y cuidadores de enfermos con trastornos neurológicos y enfermedades neurodegenerativas y demencias.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon4.PNG" alt="" class="img-fluid">
            <h5><b>Psicoterapia para
                víctimas de maltrato</b></h5>
            <p class="lead">
                Ayuda psicológica a las víctimas a superar los desafíos y abordar los síntomas.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon5.PNG" alt="" class="img-fluid">
            <h5><b>Psicoterapia para personas
                con síndrome postraumático</b></h5>
            <p class="lead">
                Este trastorno se desarrolla en algunas personas que han experimentado un evento impactante, aterrador, peligroso o acoso continuado.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon6.PNG" alt="" class="img-fluid">
            <h5><b>Psicoterapia para víctimas
                de acoso escolar</b></h5>
            <p class="lead">
                Ayuda psicológica para percibir y gestionar de manera objetiva la situación de acoso escolar.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon7.PNG" alt="" class="img-fluid">
            <h5><b>Psicooncología</b></h5>
            <p class="lead">
                Psicoterapia para superar el impacto del diagnóstico.
            </p>
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../../../assets/img/icon8.PNG" alt="" class="img-fluid">
            <h5><b>Apoyo psicológico a lo largo de la pandemia</b></h5>
            <p class="lead">
                Estrategias de afrontamiento.
            </p>
        </div>
        <div>
            <br><br>
        </div>
    </div>
</div>
